body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color:rgb(245, 230, 189);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(219, 219, 219);
    text-decoration: none;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(184, 46, 46);
    padding: 10px 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.conteudo{
    padding: 130px 55px 100px 56px;
    
}

.logo {
    cursor: pointer;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block; /* deixa na mesma linha */
    padding: 10px 20px;
    
}

.navlinks li a {
    transition: all 0.3 ease 0s;
    padding: 10px;
}

.navlinks li a:hover {
    color:  rgb(255, 255, 255);
}

button{
    padding: 9px 25px;
    background-color: rgb(201, 46, 46);
    border: none;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    border-radius: 19px;
}

button:hover{
    background-color:rgba(196, 49, 49, 0.795);
}